/* whole board data container */
#board-container {
    width: 80vw; max-width: 1200px; 
    border: 2px solid white;
    margin-left: auto; margin-right: auto;
}

/* basic board contents style applied to each content*/
.board-contentsInfo {
    display: flex; flex-direction: row; 
    font-size: 20px; color: white;
    padding: 10px 0px;
    border: 2px solid yellow;
}

/* caption displayed when no contents */
#no-contents-caption {
    font-size: 20px; color: white;
    padding: 30px;
}

/* styles by each section */
#contents-No {
    width: 6%; background-color: rgb(88, 83, 10);
}
#contents-Title {
    width: 49%; background-color: rgb(25, 107, 80);
}
#contents-Writer {
    width: 20%; background-color: #1a4714;
}
#contents-Date {
    width: 15%; background-color: #0b5acf;
}
#contents-View {
    width: 10%; background-color: rgb(219, 58, 53);
}
.contents-section {
    text-align: left;
    padding-left: 10px;
}

