* {
  box-sizing: border-box;
}

/* main background*/
.main {
  text-align: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("./images/MainBackgrounds.jpg");
}

/* title caption */
.titleCaption {
  color: white;
  font-size: 50px;
  margin-bottom: 50px;
}

/* navigation bar */
#navbar {
  padding: 20px 30px 20px 30px;
  display: flex;
  justify-content: space-between;
  background-color: black;
  /* background-image: url("./images/MainBackgrounds.jpg"); */
  position: sticky;
  top: 0;
}

#navbar-text {
  width: auto;
}

#main-logo:hover {
  cursor: pointer;
}

ul {
  padding-top: 10px;
  display: inline-block;  
}

li {
  display: inline-block;
  margin: 5px 20px 5px 20px;
  font-size: 20px;
  color: rgb(207, 207, 207);
  font-weight: bold;
}

a {
  text-decoration: none;
  color: rgb(207, 207, 207);
}

li:hover {
  cursor: pointer;
}

/* Sign in form */
.signin-label {
  color: white;
  font-size: 25px;
}
.signin-form {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 35px;
  border-radius: 5px;
  font-size: 20px;
}

#signin-button {
  margin-top: 20px;
  width: 100px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: none;
  border: yellow 2px solid;
  border-radius: 5px;
}

#signin-button:hover {
  cursor: pointer;
}

.signin-text {
  margin-top: 10px;
  font-size: 20px;
  color: white;
}

/* category-container */
.category-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 70%;
  max-width: 1000px;
  min-height: 70%;
  margin: auto;
  margin-top: 50px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* category boxes */
.category-box {
  border-style: solid;  border-width: 1.5px;  border-color: yellow; border-radius: 10px;
  width: 200px;  height: 200px;
  margin: 20px 20px 20px 20px;
  text-align: center;
  background-size: cover;
  background-position: center center;
  transition: all .2s ease-in-out;
  display: flex;
  align-items: center;
}

.category-box:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* category box background images */
#Character {
  background-image: url("./images/people.jpg");
}

#Vehicle {
  background-image: url("./images/vehicles.jpg");
}

#Planet {
  background-image: url("./images/planets.jpg")
}

#Starship {
  background-image: url("./images/spaceships.jpeg");
}

#Specie {
  background-image: url("./images/species.jpg");
}

#Film {
  background-image: url("./images/films.jpg");
}

/* category box text style */
.box-text {
  text-align: center;
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
}

/* information caption */
.APIinfo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-bottom: 40px;
  font-size: 20px;
  color: white;
  vertical-align: bottom;
  text-align: center;
  width: 70%;
}

/* contents-box style */
.contents-box {
  font-size: 20px; color: white;
  width: 600px;  min-height: 70%;
  margin: auto;  margin-top: 50px;
  border-style: solid;  border-width: 1.5px;  border-color: yellow; border-radius: 10px;
  padding: 40px;
  background-color: #61614d;
  text-align: left;
}

.contents-tag {
  margin-bottom: 10px;
}

#back-button {
  min-width: 200px;
  height: 40px;
  color: yellow;
  margin-top: 20px; 
  font-size: 20px; 
  font-weight: bold;
  background: none; 
  border-color: yellow; 
  border-radius: 5px;
}

#back-button:hover {
  cursor: pointer;
}

/* page buttons */
.page-button, .page-button-selected {
  width: 40px;
  height: 40px;
  color: white;
  margin: 0px 10px 0px 10px;
  font-size: 20px; 
  font-weight: bold;
  background: none; 
  border-color: yellow; 
  border-radius: 5px;
}

.page-button-selected {
  background-color: #61614d;
}

.page-button:hover {
  cursor: pointer;
}

/* user login */
@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

